.category {
	background-color: #c40d96;
	border-radius: 28px;
	border: 1px solid #a01471;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 8px 20px;
	text-decoration: none;

	&:hover {
		background-color: #2f0da8;
	}

	&.current {
		pointer-events: none;
		font-weight: bold;
		text-decoration: underline;
		font-size: 40;
		color: red;
		background-color: blue;
	}
	// 576px window width and more
    @include sm {
        font-size: 9.2px;
    }
// 992px window width and more
    @include lg {
        font-size: 9.2px;

    }

}


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
 }
 
 // Large devices
 @mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
 }